<!DOCTYPE html>
<html lang="en">

<head>
	<title>Maharsh Patel</title>
	<meta charset="utf-8" /> {% load static %}
	<link rel="stylesheet" href="{% static 'verify/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'verify/css/fonts.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'verify/css/styles.css' %}" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<div id="backplate" class="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div id="maintitle" class="col-sm-4 text-center center-block">
				SMS VERIFICATION
			</div>
			<div class="col-sm-4"></div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-2"></div>
			<div id="phoneBlock" class="col-lg-4 col-md-6 col-sm-8">
				<span id="phoneBarTitle"> Enter Phone Number </span><br>
				<h1 id="phoneBar">
					<form id="phoneform" action="/verify/" method="post">
						{% csrf_token %}
						<input id="phoneInput" name="phonenumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text"></input>
					</form>

				</h1>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-2"></div>
		</div>
	</div>
</body>

<script>
	// back plate sizing
	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
		$('#backplate').height($(window).height() - 10);
	} else {
		$('#backplate').height($(window).height() - 100);
	}

	// submit form when enter key is pressed
	$("#phoneInput").keypress(function(event) {
		if (event.which == 13) {
			event.preventDefault();
			$("form").submit();
		}
	});
</script>

</html>
