<!DOCTYPE html>
<html lang="en">

<head>
	<title>Maharsh Patel</title>
	<meta charset="utf-8" /> {% load static %}
	<link rel="stylesheet" href="{% static 'verify/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'verify/css/fonts.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'verify/css/styles.css' %}" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body id="bodyid">
	<div id="backplate" class="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div id="maintitle" class="col-sm-4 text-center center-block">
				SMS VERIFICATION
			</div>
			<div class="col-sm-4"></div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-2"></div>
			<div id="phoneBlock" class="col-lg-4 col-md-6 col-sm-8">
				<span id="phoneBarTitle"> Enter Verification Code </span><br>
				<h1 id="phoneBar">
					<input id="phoneInput" type="text"></input>
				</h1>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-2"></div>
		</div>
	</div>
</body>

<script src="{% static 'verify/js/scripts.js' %}"></script>

<script>
// $("#bodyid").animate({
// 	backgroundColor: "#f5003c"
// }, 1500);
//
// $("#bodyid").animate({
// 	backgroundColor: "#20FFAD"
// }, 1500);

</script>

</html>
